<!DOCTYPE html>
<html>
  <h1>Pirate:<br>
    <h4>Name: <%= @pirate.name %></h4>
    <h5>Weight: <%= @pirate.weight %> lbs.</h5>
    <h5>Height: <%= @pirate.height %> in.</h5>
  </h1>


  <h2>Ships:<br>
    <% @ships.each do |ship| %>
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
    <% end %>
  </h2>
</html>
