<h1>Pirate:<br>
  Name: <%= @pirate.name %>
  Weight: <%= @pirate.weight %> lbs.
  Height: <%= @pirate.height %> in.
</h1>


<h2>Ships:<br>
  @ships.each do
    <p>Name: <%= @ship.name %></p>
    <p>Type: <%= @ship.type %></p>
    <p>Booty: <%= @ship.booty %></p>
  end
</h2>


<h2>
  <%= @ship2.name %>
  <%= @ship2.type %>
  <%= @ship2.booty %>
</h2>
